%logo-text {
    font-weight: 400;
font-size: 40px;
line-height: 1.25;
color: #292F36;
}

%text-link {
    font-family: 'Jost';
font-weight: 400;
font-size: 20px;
line-height: 1.25;
color: #292F36;
}

%section-title {
    font-weight: 400;
font-size: 50px;
line-height: 1.24;
color: #292F36;
}

%big-title {
    font-weight: 400;
font-size: 85px;
line-height: 1.25;
color: #292F36;
}

%description-text {
    font-family: 'Jost';
font-weight: 400;
font-size: 22px;
line-height: 1.5;
}

%button-text {
    font-family: 'Jost';
    font-weight: 600;
font-size: 18px;
line-height: 1.22;
color: #FFFFFF;
}

%item-name {
    font-weight: 400;
font-size: 25px;
line-height: 1.24;
color: #292F36;
}